[CORE]
PROJECT_NAME="CovidCorrelated"
[DATABASE]
MYSQL_DATABASE=covid19cor
AIRFLOW_DATABASE=airflowdb

#Use mysql_db for docker run
#MYSQL_HOST=mysql_db
MYSQL_HOST=192.168.0.2
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=12345678
MYSQL_USER=dtn
MYSQL_PASSWORD=12345678
MYSQL_ALLOW_EMPTY_PASSWORD=true
MYSQL_ENTRYPOINT_INITDB=./mysql/docker-entrypoint-initdb.d

## table names defined in Database
COVID_US_RAW_TABLE_NAME=covid19_us_raw
COVID_US_DIM_TABLE_NAME=covid19_us_dim
COVID_US_FACT_TABLE_NAME=covid19_us_fact
COVID_US_MONTHLY_FACT_TABLE_NAME=covid19_us_monthly_fact

COVID_GLOBAL_RAW_TABLE_NAME=covid19_global_raw
COVID_GLOBAL_DIM_TABLE_NAME=country_dim
COVID_GLOBAL_FACT_TABLE_NAME=covid19_global_fact
COVID_GLOBAL_MONTHLY_FACT_TABLE_NAME=covid19_global_monthly_fact
COUNTRY_TABLE_NAME=world_country

COVID_SUM_FACT_TABLE=covid19_sum_fact
COVID_SUM_MONTHLY_FACT_TABLE=covid19_sum_monthly_fact

STOCK_INDEXES=djia nasdaq100 sp500
STOCK_INDEX_RAW_TABLE_NAME=stock_index_raw
STOCK_INDEX_FACT_TABLE_NAME=stock_index_fact
STOCK_INDEX_MONTHLY_TABLE_NAME=stock_index_monthly_fact
STOCK_PRICE_RAW_TABLE_NAME=stock_price_raw
STOCK_PRICE_FACT_TABLE_NAME=stock_price_fact
STOCK_PRICE_MONTHLY_TABLE_NAME=stock_price_monthly_fact
STOCK_TICKER_RAW_TABLE_NAME=stock_ticker_raw

BOL_SERIES_RAW_TABLE_NAME=bol_series_raw
BOL_SERIES_DIM_TABLE_NAME=bol_series_dim
BOL_SERIES_FACT_TABLE_NAME=bol_series_fact

COVID_STOCK_FACT_TABLE_NAME=covid_stock_fact
COVID_STOCK_MONTHLY_FACT_TABLE_NAME=covid_stock_monthly_fact
COVID_STOCK_BOL_FACT_TABLE_NAME=covid_stock_bol_monthly_fact

[COVID19]
COVID19_CONFIRMED_US_URL=https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv

COVID19_DEATH_US_URL=https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv

COVID19_CONFIRMED_GLOBAL_URL=https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv


COVID19_DEATH_GLOBAL_URL=https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv
WORLD_COUNTRY_FILE=world_country.csv

[STOCK]
STOCK_SP500_URL=http://en.wikipedia.org/wiki/List_of_S%26P_500_companies

[BOL]
BOL_API_URL=https://api.bls.gov/publicAPI/v2/timeseries/data/

[API]
API_HOST=192.168.0.2
API_PORT=8082