[CORE]
PROJECT_NAME="CovidCorrelated"
[DATABASE]
MYSQL_DATABASE=covid19cor
AIRFLOW_DATABASE=airflowdb
#MYSQL_HOST=mysql_db
MYSQL_HOST=192.168.0.2
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=12345678
MYSQL_USER=dtn
MYSQL_PASSWORD=12345678
MYSQL_ALLOW_EMPTY_PASSWORD=true
MYSQL_ENTRYPOINT_INITDB=./mysql/docker-entrypoint-initdb.d

[COVID19]
COVID19_CONFIRMED_US_URL=https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv

COVID19_DEATH_US_URL=https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv

COVID19_CONFIRMED_GLOBAL_URL=https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv


COVID19_DEATH_GLOBAL_URL=https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv
WORLD_COUNTRY_FILE=world_country.csv

[STOCK]
STOCK_SP500_URL=http://en.wikipedia.org/wiki/List_of_S%26P_500_companies

[BOL]
BOL_API_URL=https://api.bls.gov/publicAPI/v2/timeseries/data/

