<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Covid19 Correlation Tracker</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!--  our js and css-->
  <script src="{{url_for('static', filename='js/covidcor.js')}}"></script>
  <link rel="stylesheet" href="{{url_for('static', filename='css/covidcor.css')}}">




  <script>
  /*Set default input for dates when document is ready*/
  $( document ).ready(function() {
    //loadConfigFile();
    console.log( "ready!" );
    var now = new Date();
    var today = now.getFullYear() + '-' + ('0' + (now.getMonth() + 1)).slice(-2) + '-' + ('0' + now.getDate()).slice(-2);
    $('#date-input2').val(today);
    submit_request();
    //submit_request2();
  });

  $(function() {
      $('#submit').on('click', function(){
          submit_request();
      });
  });

  function submit_request() {
          /*Make the query dates */
          var date1 = new Date($('#date-input1').val());
          day1 = date1.getDate();
          month1 = date1.getMonth() + 1;
          year1 = date1.getFullYear();

          var date2 = new Date($('#date-input2').val());
          day2 = date2.getDate();
          month2 = date2.getMonth() + 1;
          year2 = date2.getFullYear();

          /*Make the request urls*/
          //var host = location.hostname;
          //var port = location.port;
          //var pathname = location.pathname;

          var href = location.href
          var url = href + "query_covid_stock_chart"
          var url2 = href + "query_covid_topk_us"
          var url3 = href + "query_covid_topk_global"

          url = url.concat('?', 'start_date=', [year1, month1, day1].join('-'))
          url = url.concat('&', 'end_date=', [year2, month2, day2].join('-'))
          $.get(url, function( data ) {
              $('#content').html(data);
          });

          url2 = url2.concat('?', 'start_date=', [year1, month1, day1].join('-'))
          url2 = url2.concat('&', 'end_date=', [year2, month2, day2].join('-'))
          url2 = url2.concat('&', 'topk=',10)
          $.get(url2, function( data ) {
              //constructTable is defined in covidcor.js
              $('#table_topk_1').append($('<div/>').html("Top 10 states by number of cases"));
              $('#table_topk_1').append($('<table/>').attr({"align":"left", "id":"table1", "border":"1"}));
              constructTable(data, 'table1');

          });

          url3 = url3.concat('?', 'start_date=', [year1, month1, day1].join('-'))
          url3 = url3.concat('&', 'end_date=', [year2, month2, day2].join('-'))
          url3 = url3.concat('&', 'topk=',10)
          $.get(url3, function( data ) {
              //constructTable is defined in covidcor.js
              $('#table_topk_2').append($('<div/>').html("Top 10 countries by number of cases"));
              $('#table_topk_2').append($('<table/>').attr({"align":"left", "id":"table2", "border":"1"}));
              constructTable(data, 'table2');

          });
          // Unemployment rate
          var url4 = href + "query_covid_unemployment"
          url4 = url4.concat('?', 'start_date=', [year1, month1, day1].join('-'))
          url4 = url4.concat('&', 'end_date=', [year2, month2, day2].join('-'))

          $.get(url4, function( data ) {
              $('#unemployment_chart').html(data);
          });


  }



  </script>
</head>
<body>

<input type="date" id="date-input1" value="2020-01-02" required />
<input type="date" id="date-input2" required />
<button id="submit">Submit</button>
<div class="row">
  <div class="col">
    <div id=content>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div id=table_topk_1></div>
  </div>
  <div class="col">
     <div id=table_topk_2></div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div id=unemployment_chart>
    </div>
  </div>
</div>




</body>
</html>
